:host {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-field {
  display: grid;
  grid-gap: 10px;
  width: 80%;
}

.square {
  min-width: 50px;
  min-height: 50px;
  border: 1px solid grey;
}
